.contenedor-cesta {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    .cesta-vacia{
        font-size: x-small;
        color: rgb(75, 75, 75);
        font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
        width: 100vw;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .limpiar-carrito {
        width: 35vw;
        padding: 1%;
        margin-left: 3%;
        font-size: xx-small;
        height: auto;
        background: none;
        color: rgb(75, 75, 75);
        border: solid rgb(75, 75, 75) 1px;
    }

    .producto-cesta {
        display: grid;
        grid-template-columns: 50vw 50vw;
        overflow: hidden;

        width: 100vw;
        height: auto;
        border: solid black 1px;
        box-shadow: -2px 2px 15px 1px rgb(132, 132, 132);

        .imagen-producto {
            grid-column: 1/2;
            height: auto;
            width: 50vw;
        }

        .info-producto-cesta {
            grid-column: 2/3;
            border-left: solid black 1px;
            display: flex;
            flex-direction: column;

            .boton-borrar {
                padding: 0;
                margin-left: 43vw;
                margin-top: 1vh;
                height: auto;
                background: none;
                border: none;
                color: rgb(75, 75, 75);
            }

            &>h2 {
                font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
                font-size: xx-small;
                color: rgb(75, 75, 75);
                margin-left: 3vw;
                margin-top: 0;
                padding: 0%;
            }

            &>h3 {
                font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
                font-size: xx-small;
                color: rgb(75, 75, 75);
                margin-left: 3vw;
                margin-top: 0.5vh;
                padding: 0%;
            }

            .descripcion-producto {
                font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
                font-size: 50%;
                justify-content: center;
                text-align: start;
                width: 90%;
                margin-left: 3vw;
                margin-top: auto;
                margin-bottom: 1.5vh;
                color: grey;
                align-items: end;
            }

            .display-cantidad {
                font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
                margin-left: 29vw;
                font-size: xx-small;
                display: grid;
                height: 2.5vh;
                width: 18vw;
                margin-bottom: 1vh;
                grid-template-columns: 6vw 6vw 6vw;
                border: solid black 1px;

                &>p {
                    padding: 0%;
                    margin: 0;
                    border-left: solid black 1px;
                    border-right: solid black 1px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &>button {
                    padding: 0;
                    margin: 0;
                    height: auto;
                    background: none;
                    width: 6vw;
                    border: none;
                }
            }

        }
    }
    .contenedor-total{
        justify-content: center;
        align-items: center;
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(3,33.3%);
        grid-template-rows: repeat(2,4vh);
        font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        &>p{
            padding: 0;
            margin: 0;
        }
        .total{
            font-size: x-small;
            font-weight: 600;
            margin-left: 3vw;
            grid-column: 1/3;
        }
        .precio-total{
            display: flex;
            justify-content: end;
            font-size: x-small;
            font-weight: 600;
            margin-right: 3vw;
            grid-column: 3/4;
        }
        .continuar{
            text-decoration: none;
            color: black;
            font-size: x-small;
            border-top: solid black 1px;
            display: flex;
            height: 3vh;
            margin-top: 1vh;
            justify-content: center;
            align-items: center;
            grid-column: 1/4;
        }
    }
}