.cesta-header{
    font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
    text-decoration: none;
    font-size: x-small;
    color: gray;
    margin-right: 2vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktop{
        font-size: small;
        }
    .acumulador-carrito{
        position: absolute;
        color: rgb(100, 83, 24);
        top: -3px;
        border-radius: 50%;
        font-size: x-small;
        @include desktop{
            font-size: 90%;
        }
    }
}