.footer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    z-index: 10;
    @include tablet {
        height: 80vh;
    }
    @include notebook {
        height: 80vh;
    }
    @include desktop{
        height: 80vh;
    }
    .redes{
        display:flex;
        flex-flow: row wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
            a {
                font-family: "Roboto",serif;
                font-weight: 300;
                letter-spacing: 1px;
                font-size:x-small;
                text-decoration:none;
                color: rgb(151, 112, 12);
                padding: 2%;
                text-shadow: 0 0 1px rgb(206, 187, 137), 0 0 1px #b8d5f3;
                @include notebook {
                    font-size: small;
                    padding: 5%;
                }
                @include desktop {
                    font-size: small;
                    padding: 5%;
                }
            }
    }
}
