.contenedor-footer2{
    height: 5.5vh;
    display: flex;
    gap: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    border-top: 1px solid rgb(143, 143, 143);
    @include mobile-landscape{
        height: 15vh;
        gap: 10vw;
    }
    @include tablet{
        height: 15vh;
        gap: 10vw;
    }
    &>a{
        padding: 0%;
        margin: 0;
        color: rgb(151, 112, 12);
        font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
        font-size: xx-small;
        text-decoration: none;
        text-shadow: 0 0 1px rgb(206, 187, 137), 0 0 1px #b8d5f3;
    }

}