.header{
    display: flex;
    width: 98%;
    max-width: 100%;
    position: fixed;
    z-index: 10;
    .contenedor-menulogo{
        display: flex;
        width: 55vw;
    .link-logo{
        text-decoration: none;
        .logo {
            display: flex;
            color: black;
            font-family:"Bebas Neue", sans-serif;
            font-size: 700%;
            margin: 2% 0 0 0;
            padding-left: 2%;
            font-weight: 400;
            line-height: 1;
            text-shadow: 1px 1px 2px black, 0 0 3px white, 0 0 5px rgb(0, 0, 28);
            &:active{
                color: white;
            }
        }
    }
}
.contenedor-widget{
    margin-left: 35%;
    margin-top: 5%;
    @include mobile-landscape{
        margin-top: 4%;
        margin-left: 37%;
        }
    @include tablet {
        margin-top: 4%;
        margin-left: 37%;
        }
    }
}



