
.container-sticky{
    height: 8vh;
    .header-2 {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0; 
        z-index: 5; 
        height: 6vh; 
        background-color: white;
        box-shadow: -2px 2px 15px 1px rgb(132, 132, 132);
        transition: background-color 0.3s ease-in-out; 
        &.transparente{
            transition: box-shadow 0.3s ease-in-out; 
            box-shadow: none;
            background-color:transparent;
        }
    }
}

