.header{
    display: flex;
    width: 98%;
    max-width: 100%;
    position: fixed;
    z-index: 20;
    @include mobile-landscape {
        z-index: 20;
    }
    @include tablet {
        z-index: 20;
    }
    @include notebook {
        z-index: 20;
    }
    @include desktop{
        z-index: 20;
    }
    .contenedor-menulogo{
        display: flex;
        width: auto;
        margin-top: 2%;
        margin-left: 2%;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 15px;

    .link-logo{
        text-decoration: none;
        width: 55vw;
        display: flex;
        justify-content: end;
        @include mobile-landscape {
            width: 35vw;
        }
        @include tablet{
            width: 40vw;
        }
        @include notebook{
            width: 35vw;
        }
        @include desktop{
            width: 27vw;
        }
        .logo {
            display: flex;
            color: black;
            font-family: "Syncopate", serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-size: 250%;
            letter-spacing: 0px;
            margin: 3%;
            padding-left: 7%;
            padding-right: 2%;
            line-height: 1;
            @include mobile-landscape{
                padding-left:0;
                margin:2% ;
                font-size: 300%;
            }
            @include tablet {
                padding-left: 0;
                margin:2% ;
                font-size: 400%;
            }
            @include notebook{
                padding-left: 0;
                margin:0 ;
                font-size: 500%;
            }
            @include desktop{
                padding-left: 0;
                margin:0 ;
                font-size: 500%;
            }
        }
    }
}
.contenedor-widget{
    margin-left: 15%;
    margin-top: 5%;
    @include mobile-landscape {
        margin-left: 35%;
        margin-top: 6vh;
        width: 5w;
    }
    @include tablet{
        margin-left: 35%;
        margin-top: 3vh;
        width: 5w;
    }
    @include notebook{
        margin-left: 40%;
        margin-top: 7vh;
        width: 5w;
    }
    @include desktop{
        margin-left: 50%;
        margin-top: 7vh;
        width: 5w;
    }
    }
}



