

.list-container{
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
    gap: 2vh;
    .producto{
        display: flex;
        flex-direction: column;
        align-items: center;
            margin:0;
            margin-bottom: 3vh;
            position: relative;
            height: auto;
            padding: 0%;
            box-shadow: -7px 4px 20px 1px rgb(208, 208, 208);
        .producto-imagen{
            width: 100vw;
            height: auto;
        }
        .nombre-precio{
            font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
            color: rgb(43, 43, 43);
            font-size: x-small;
            width: 100vw;
            margin: 0;
            position: relative;
            p{
                margin-left: 4vw;
                margin-bottom: 0.7vh;
            }
            button{
                border: none;
                background: none;
                position: absolute;
                right: 6vw;
                bottom: 2vh;
                i{
                    margin: 0;
                }
            }
        }
        .link-detail{
            position: absolute;
            bottom: 9vh;
        }
    }

}
