

.item-detail{
    width: 100vw;
    height: auto;
    overflow: hidden;
    @include desktop{
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;
        
    }
    .imagen-container{
        position: relative;
        @include desktop{
            display: flex;
            margin-left: 18vw;
        }
        .boton-anterior{
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 3.5%;
            height: 5vh;
            width: 9vw;
            border: none;
            background: none;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(151, 112, 12);
            @include desktop{
                left: 0%;
            }
        }
        .boton-siguiente{
            position: absolute;
            z-index: 10;
            top: 50%;
            right: 3.5%;
            height: 5vh;
            width: 9vw;
            border: none;
            background: none;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(151, 112, 12);
            @include desktop{
                right: 0%;
            }
        }
    .imagen-detail{
        width: 100%;
        height: auto;
        @include desktop{
            height: 110vh;
            width: auto;
        }
    }
}
    .info-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
        font-size: 70%;
        width: 100%;
        height: 30vh;
        border: solid rgb(100, 83, 24) 1px;
        background-color: rgb(238, 238, 238);
        @include desktop {
            width: 35vw;
            margin-right: 3vw;
            height: 70vh;
            align-items: start;
        }

        .nombre-producto{
            font-size: x-small;    
            color: rgb(73, 73, 73);
            width: 100%;
            margin-left: 5%;
            margin-top: 2vh;
            @include desktop {
                width: 100%;
                margin-left: 3vw;
                margin-top: 4vh;
            }
        }
        .precio-producto{
            font-size: x-small;    
            color: rgb(73, 73, 73);
            width: 100vw;
            margin-left: 5%;
            margin-top: 1vh;
            @include desktop {
                width: 20vw;
                margin-left: 3vw;
            }
        }

        .descripcion{
            text-align:start;
            color: rgb(75, 75, 75);
            line-height: 1.7;
            font-size: xx-small;
            max-width: 90%;
            margin-top: 3vh;
            margin-left: 0;
            @include desktop{
                margin-top: 8vh;
                max-width: 80%;
                margin-left: 3vw;
            }
            
        }
        .botonDetail-anadir{
            margin-top: 2vh;
            font-size: 80%;
            color: black;
            background-color: white;
            border: solid rgb(100, 83, 24) 1px;
            padding-top: 2%;
            padding-bottom: 2%;
            width: 80%;
            @include desktop {
                margin-left: 3vw;
                margin-top: 22vh;
            }
            
        }


    }
}