

.item-detail{
    width: 100vw;
    height: auto;
    overflow: hidden;
    @include desktop{
    }
    .imagen-container{
        position: relative;
        @include desktop{
            display: flex;
        }
        .boton-anterior{
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 3.5%;
            height: 5vh;
            width: 9vw;
            border: none;
            background: none;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .boton-siguiente{
            position: absolute;
            z-index: 10;
            top: 50%;
            right: 3.5%;
            height: 5vh;
            width: 9vw;
            border: none;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    .imagen-detail{
        width: 100%;
        height: auto;
        @include desktop{
            width: auto;
        }
    }
}
    .info-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
        font-size: 70%;
        width: 100%;
        height: 30vh;
        border: solid black 1px;
        background-color: rgb(238, 238, 238);

        .nombre-producto{
            font-size: x-small;    
            color: rgb(73, 73, 73);
            width: 100vw;
            margin-left: 5%;
            margin-top: 2vh;
        }
        .precio-producto{
            font-size: x-small;    
            color: rgb(73, 73, 73);
            width: 100vw;
            margin-left: 5%;
            margin-top: 1vh;
        }
        .botonDetail-anadir{
            margin-top: 2vh;
            font-size: 80%;
            color: black;
            background-color: white;
            border: solid black 1px;
            padding-top: 2%;
            padding-bottom: 2%;
            width: 80%;
            
        }

        .descripcion{
            text-align:start;
            color: rgb(75, 75, 75);
            line-height: 1.7;
            font-size: xx-small;
            max-width: 90%;
            margin-top: 3vh;
            margin-left: 0;
            
        }
    }
}