@keyframes desplegar {
    from{
        height: 0%;
        width: 0%;
    }
    to{
        height: 100%;
        width: 100%;
    }
}
.boton-menu{
    margin: 1% 0 0 0;
    padding: 0;
    width: 10vw;
    height: 5vh;
    background: transparent;
    border: none;
    cursor: pointer;
}
.nav-bar{
    width: 100vw;
    background-color: aliceblue;
    height: 100vh;
    z-index: 4;
    position: fixed;
    top: 0;
    left: -100vw; // Inicialmente oculto fuera de la pantalla a la izquierda
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in; // Transición suave
    opacity: 0;
    &.dshow{
        transition: left 0.4s ease-in-out, opacity 0.4 ease-in;
        opacity: 1;
        left: 0; // Mueve el `nav-bar` a la vista cuando el menú está abierto
    }    
    .lista{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 3dvh;
        margin-top: 0;
        height: 0;
        box-shadow: -7px 4px 20px 1px rgb(223, 223, 223);
        padding-top: 8%;
        padding-left: 7%;
        margin-left: 10%;
        // animation: desplegar 1s ease-in-out 10s;
        // animation-fill-mode: forwards;
        overflow: hidden;
        &.dnone{
            display: none;
        }
        &.animating {
            animation: desplegar 0.8s ease-in-out 0.35s forwards;
        }
        .categorias-link{
            font-family:"Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
            font-size:x-small;
            .link-menu{
                text-decoration: none;
                color:rgb(75, 75, 75);
            }
        }
    }
}