@keyframes desplegar {
    from{
        height: 0%;
        width: 0%;
    }
    to{
        height: 100%;
        width: 100%;
    }
}
.boton-menu{
    margin: 1% 0 0 0;
    padding: 0;
    width: 10vw;
    height: 5vh;
    background: transparent;
    border: none;
    cursor: pointer;
    @include mobile-landscape {
        margin-bottom: 5vh;
        margin-left: 0;
    }
    @include tablet {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1vw;
        width: 5vw;
    }
    @include notebook {
        margin: 0;
        width: 5vw;
    }
    @include desktop{
        margin: 0;
        width: 5vw;
    }


}
.nav-bar {
    width: 100vw;
    background-color: white;
    height: 100vh;
    z-index: 4;
    position: fixed;
    top: 0;
    left: -100vw; // Inicialmente oculto fuera de la pantalla a la izquierda
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in; // Transición suave
    opacity: 0;
    overflow: hidden; // Asegúrate de que no sobresalga contenido durante la animación
    @include mobile-landscape{
        width: 60vw; // Reduce el ancho a 40vw
    }
    @include tablet {
        width: 60vw; // Reduce el ancho a 40vw
    }
    @include notebook {
        width: 40vw; // Reduce el ancho a 40vw
    }
    @include desktop{
        width: 40vw; // Reduce el ancho a 40vw
    }
    
    &.dshow {
        transition: left 0.4s ease-in-out, opacity 0.4s ease-in;
        opacity: 1;
        left: 0; // Mueve el `nav-bar` a la vista cuando el menú está abierto
    }

    // Esto es para evitar que la animación muestre un borde extraño en algunas resoluciones
    &.dshow, &:not(.dshow) {
        z-index: 10; // Asegura que el menú esté por encima de otros elementos mientras se despliega
    }
    .boton-menu2{
        margin: 1% 0 0 0;
        padding: 0;
        width: 10vw;
        height: 5vh;
        background: transparent;
        border: none;
        cursor: pointer;
        @include mobile-landscape{
            margin: 3% 0 0 0
        }
        @include tablet {
            margin: 3% 0 0 0
        }
        @include notebook {
            margin: 3% 0 0 0
        }
        @include desktop{
            margin: 3% 0 0 0
        }
        @include mobile-landscape {
            margin-bottom: 5vh;
            margin-left: 0;
        }
    }
    .lista {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 4dvh;
        margin-top: 0;
        height: 0;
        box-shadow: -7px 4px 20px 1px rgb(223, 223, 223);
        padding-top: 15%;
        overflow: hidden;
        padding-left: 10%;
        margin-left: 10%;
        @include tablet {
            margin-top: 2vh;
            gap: 8dvh;
            padding-top: 20%;
        }
        @include notebook {
            margin-top: 2vh;
            gap: 8dvh;
            padding-top: 20%;
        }
        @include desktop{
            margin-top: 2vh;
            gap: 8dvh;
            padding-top: 20%;
        }
        @include mobile-landscape{
            gap: 7dvh;
            padding-top: 10%;
        }

        &.dnone{
            display: none;
        }
        
        &.animacion {
            animation: desplegar 0.8s ease-in-out 0.35s forwards;
        }

        .categorias-link {
            font-family: "Roboto", serif;
            font-weight: 300;
            letter-spacing: 1px;
            font-size: x-small;
            @include tablet {
                font-size: smaller;
            }
            @include notebook {
                font-size: smaller;
            }
            @include desktop{
                font-size: smaller;
            }
            .link-menu {
                text-decoration: none;
                color: rgb(75, 75, 75);
                &.rojo {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }
}