@keyframes desplegar {
    from{
        height: 0%;
        width: 0%;
    }
    to{
        height: 100%;
        width: 100%;
    }
}
.boton-menu{
    margin: 1% 0 0 0;
    padding: 0;
    width: 10vw;
    height: 5vh;
    background: transparent;
    border: none;
    cursor: pointer;
    @include mobile-landscape {
        margin-bottom: 5vh;
        margin-left: 0;
    }
    @include tablet{
        margin-bottom: 5vh;
        margin-left: -1vw;
    }
}
.nav-bar{
    width: 100vw;
    background-color: aliceblue;
    height: 100vh;
    z-index: 4;
    position: fixed;
    top: 0;
    left: -100vw; // Inicialmente oculto fuera de la pantalla a la izquierda
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in; // Transición suave
    opacity: 0;
    &.dshow{
        transition: left 0.4s ease-in-out, opacity 0.4 ease-in;
        opacity: 1;
        left: 0; // Mueve el `nav-bar` a la vista cuando el menú está abierto
    }    
    .lista{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 4dvh;
        margin-top: 0;
        height: 0;
        box-shadow: -7px 4px 20px 1px rgb(223, 223, 223);
        padding-top: 15%;
        overflow: hidden;
        padding-left: 10%;
        margin-left: 10%;
        @include mobile-landscape{
            gap: 7dvh;
            padding-top: 10%;
        }
        @include tablet{
            gap: 7dvh;
            padding-top: 10%; 
        }
        &.dnone{
            display: none;
        }
        &.animacion {
            animation: desplegar 0.8s ease-in-out 0.35s forwards;
        }
        .categorias-link{
            font-family:"Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
            font-size:x-small;
            .link-menu{
                text-decoration: none;
                color:rgb(75, 75, 75);
                &.rojo{
                    font-weight: bold;
                    text-decoration:underline;
                }
            }
        }
    }
}