
html{
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
body{
  margin: 0; /* Elimina márgenes del body */
  padding: 0;
  max-width: 100%;
  position: relative;

}
.container{
  padding: 0;
}